body {
	font-family: var(--news-primary-font);
	font-size: 16px;
}

.news-module {
	max-width: 768px;
	padding: 1rem;
	/* 576px window width and more */
	@include sm {
		display: grid;
		grid-column-gap: 1rem;
		grid-template-columns: 1fr 1fr;
	}
}

.news-module-article {
	$this: &;

	border-bottom: 1px solid var(--news-light-color);
	display: flex;
	flex-direction: column;

	@include sm {
		grid-column: 2 / 3;
	}

	&__content {
		height: 100%;
		#{$this}__title {
			font-size: 2rem;
			font-weight: 700;
			padding-bottom: 0.5rem;
			width: 100%;
		}
		#{$this}__text {
			padding-bottom: 0.5rem;
		}
		#{$this}__danger,
		#{$this}__info {
			font-size: 1rem;
			font-weight: 700;
			margin-right: 0.5rem;
			text-transform: uppercase;
		}
		#{$this}__danger {
			color: var(--news-danger-text-color);
		}
		#{$this}__info {
			color: var(--news-info-text-color);
		}
	}

	&:first-child {
		@include sm {
			grid-column: 1 / 2;
			grid-row: 1 / 4;
		}

		#{$this}__title {
			text-transform: uppercase;
		}
	}

	&__image img {
		min-width: 100%;
	}

	&:nth-child(2) {
		#{$this}__title {
			font-size: 1.5rem;
		}
	}

	&:nth-child(3),
	&:nth-child(4) {
		padding-top: 1rem;
		#{$this}__text {
			display: none;
		}
		#{$this}__content {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
		}
		#{$this}__title {
			color: var(--news-secondary-text-color);
			font-size: 1rem;
			padding-right: 1rem;
		}

		.icon-cross img {
			max-height: 0.75rem;
		}
	}

	&__meta {
		display: flex;
		padding: 0.5rem 0;
	}

	&__icon {
		align-items: center;
		display: flex;
		margin-right: 1rem;
	}

	&__icon svg {
		max-height: 1rem;
		padding-right: 0.2rem;
		width: 1rem;
	}
}
